* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
/* html {
  scroll-behavior: smooth;
} */
body {
  background-color: #1f242d;
  color: white;
}
nav {
  padding-top: 20px;
  position: fixed;
  background: #1f242d;
}
.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #0ef;
}
span {
  color: #0ef;
}
.nav-item {
  text-decoration: none;
  color: white;
}
.nav-item:hover,
.nav-item.active {
  color: #0ef;
}
.container-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.container-hero h3 {
  font-weight: bold;
  font-size: 50px;
}
.container-hero h1 {
  font-size: 80px;
  font-weight: bolder;
}
.container-hero h5 {
  font-size: 40px;
}
.container-hero p {
  text-indent: 50px;
}
.bi {
  color: #0ef;
  display: inline;
  font-size: 30px;
  padding-left: 20px;
}
.bi-linkedin {
  padding-right: 30px;
}
.container-hero a:hover:icon {
  border: 5px solid #0ef;
  box-shadow: 0 0 15px #0ef;
  transition: all 0.5s ease;
}
.container-hero .active {
  color: #0ef;
}

.container-hero a:hover .bi {
  color: #0ef;
  text-shadow: 0 0 15px #0ef;
  transition: all 0.5s ease;
}
.container-hero .btn {
  margin-top: 20px;
  margin-left: 30px;
  color: white;
  line-height: 2;
  border-radius: 50px;
  /* background-color: #0ef; */
  border: 2px solid #0ef;
}
.container-hero .btn:hover,
.container-hero .btn:focus {
  box-shadow: 0 12px 16px 0 rgba(0, 238, 255),
    0 17px 50px 0 rgba(0, 238, 255, 0.19);
  transform: translateY(-0.25em);
}
.container-about {
  scroll-snap-type: proximity;
}
.container-about h1 {
  font-weight: bold;
  font-size: 60px;
  margin-top: 100px;
}
.container-skills h1 {
  font-weight: bold;
  font-size: 60px;
  margin-top: 100px;
}
.container-skills .container {
  margin-left: 200px;
  margin-top: 50px;
}
.container-skills h5 {
  color: #999ea7fd;
  font-weight: bold;
}
.container-skills p {
  color: #8c8f96c5;
  font-size: 20px;
}
.container-project {
  padding-top: 100px;
  margin-bottom: 50px;
}
.container-project h1 {
  font-weight: bold;
  font-size: 60px;
}
.container-proj {
  margin-bottom: 100px;
}
.container-proj h5 {
  font-weight: bold;
  color: #0ef;
}
.container-proj p {
  text-indent: 30px;
}
.container-proj .mp1 {
  width: 600px;
  height: 400px;
}
.container-proj .tool {
  width: 100px;
}
.container-proj h6 {
  font-size: 18px;
  color: rgb(55, 242, 255);
}
.container-proj .mp2 {
  width: 600px;
  height: 400px;
}
.container-proj .mp {
  margin-top: 100px;
}
.container-proj .cap {
  margin-top: 100px;
}
.container-proj .capstone {
  width: 600px;
  height: 400px;
}

img:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 238, 255),
    0 17px 50px 0 rgba(0, 238, 255, 0.19);
  transform: translateY(-0.25em);
}
.container-footer {
  color: #909397c5;
}
.container-next {
  margin-top: 100px;
  margin-bottom: 100px;
}
.container-next h1 {
  font-weight: bold;
  font-size: 60px;
}
.container-net {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}
.container-net p {
  font-size: 20px;
}
@media (min-width: 576px) {
  .container-skills .container {
    margin-left: 100px;
  }
  .container-proj img {
    width: 200px;
  }
}
@media (min-width: 768px) {
  .container-proj img {
    width: 300px;
    height: 150px;
  }
}
